$body-color: #fbebea;
$main_header_color: #2d2829;
$text_button_color: #ffffff;
$text_form_color: #000000;
$description_color: #32313d;
$buttons_color: #f50049;
$price_color: #2f2f2f;
$fsz74: 74px;
$fsz40: 40px;
$fsz20: 20px;
$fsz21: 21px;
$fsz22: 22px;
$fsz12: 12px;
$fsz14: 14px;
$fsz16: 16px;
$fsz27: 27px;
$fsz18: 18px;
$fsz19: 19px;
$fsz3: 3px;
$fsz4: 4px;
$fsz5: 5px;
$fsz6: 6px;
$fsz7: 7px;
