$body-color: #fff;
$main_header_color: #2d2829;
$text_button_color: #ffffff;
$text_form_color: #000000;
$description_color: #32313d;
$buttons_color: #f50049;
$price_color: #2f2f2f;
$74fsz: 74px;
$40fsz: 40px;
$20fsz: 20px;
$21fsz: 21px;
$22fsz: 22px;
$12fsz: 12px;
$14fsz: 14px;
$16fsz: 16px;
$27fsz: 27px;
$18fsz: 18px;
$19fsz: 19px;
$3fsz: 3px;
$4fsz: 4px;
$5fsz: 5px;
$6fsz: 6px;
$7fsz: 7px;
