@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoRegular.eot');
	src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoRegular.woff2') format('woff2'),
		url('../fonts/RobotoRegular.woff') format('woff'),
		url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/playfairdisplay-bold.eot');
	src: url('../fonts/playfairdisplay-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay-bold.woff2') format('woff2'),
		url('../fonts/playfairdisplay-bold.woff') format('woff'),
		url('../fonts/playfairdisplay-bold.svg#playfairdisplay-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/playfairdisplay-bolditalic.eot');
	src: url('../fonts/playfairdisplay-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay-bolditalic.woff2') format('woff2'),
		url('../fonts/playfairdisplay-bolditalic.woff') format('woff'),
		url('../fonts/playfairdisplay-bolditalic.svg#playfairdisplay-bolditalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
