// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adv-1-photo-name: 'adv_1_photo';
$adv-1-photo-x: 4136px;
$adv-1-photo-y: 1253px;
$adv-1-photo-offset-x: -4136px;
$adv-1-photo-offset-y: -1253px;
$adv-1-photo-width: 517px;
$adv-1-photo-height: 545px;
$adv-1-photo-total-width: 5090px;
$adv-1-photo-total-height: 3658px;
$adv-1-photo-image: 'sprite.png';
$adv-1-photo: (4136px, 1253px, -4136px, -1253px, 517px, 545px, 5090px, 3658px, 'sprite.png', 'adv_1_photo', );
$adv-2-photo-name: 'adv_2_photo';
$adv-2-photo-x: 4136px;
$adv-2-photo-y: 656px;
$adv-2-photo-offset-x: -4136px;
$adv-2-photo-offset-y: -656px;
$adv-2-photo-width: 590px;
$adv-2-photo-height: 577px;
$adv-2-photo-total-width: 5090px;
$adv-2-photo-total-height: 3658px;
$adv-2-photo-image: 'sprite.png';
$adv-2-photo: (4136px, 656px, -4136px, -656px, 590px, 577px, 5090px, 3658px, 'sprite.png', 'adv_2_photo', );
$cakes-decor-3-stage-name: 'cakes-decor_3_stage';
$cakes-decor-3-stage-x: 4746px;
$cakes-decor-3-stage-y: 656px;
$cakes-decor-3-stage-offset-x: -4746px;
$cakes-decor-3-stage-offset-y: -656px;
$cakes-decor-3-stage-width: 252px;
$cakes-decor-3-stage-height: 334px;
$cakes-decor-3-stage-total-width: 5090px;
$cakes-decor-3-stage-total-height: 3658px;
$cakes-decor-3-stage-image: 'sprite.png';
$cakes-decor-3-stage: (4746px, 656px, -4746px, -656px, 252px, 334px, 5090px, 3658px, 'sprite.png', 'cakes-decor_3_stage', );
$circle1-name: 'circle1';
$circle1-x: 4804px;
$circle1-y: 1627px;
$circle1-offset-x: -4804px;
$circle1-offset-y: -1627px;
$circle1-width: 110px;
$circle1-height: 110px;
$circle1-total-width: 5090px;
$circle1-total-height: 3658px;
$circle1-image: 'sprite.png';
$circle1: (4804px, 1627px, -4804px, -1627px, 110px, 110px, 5090px, 3658px, 'sprite.png', 'circle1', );
$circle2-name: 'circle2';
$circle2-x: 4893px;
$circle2-y: 1253px;
$circle2-offset-x: -4893px;
$circle2-offset-y: -1253px;
$circle2-width: 154px;
$circle2-height: 154px;
$circle2-total-width: 5090px;
$circle2-total-height: 3658px;
$circle2-image: 'sprite.png';
$circle2: (4893px, 1253px, -4893px, -1253px, 154px, 154px, 5090px, 3658px, 'sprite.png', 'circle2', );
$circle-2-ins-name: 'circle_2_ins';
$circle-2-ins-x: 961px;
$circle-2-ins-y: 2717px;
$circle-2-ins-offset-x: -961px;
$circle-2-ins-offset-y: -2717px;
$circle-2-ins-width: 1240px;
$circle-2-ins-height: 591px;
$circle-2-ins-total-width: 5090px;
$circle-2-ins-total-height: 3658px;
$circle-2-ins-image: 'sprite.png';
$circle-2-ins: (961px, 2717px, -961px, -2717px, 1240px, 591px, 5090px, 3658px, 'sprite.png', 'circle_2_ins', );
$circle-3-ins-name: 'circle_3_ins';
$circle-3-ins-x: 4673px;
$circle-3-ins-y: 1253px;
$circle-3-ins-offset-x: -4673px;
$circle-3-ins-offset-y: -1253px;
$circle-3-ins-width: 200px;
$circle-3-ins-height: 202px;
$circle-3-ins-total-width: 5090px;
$circle-3-ins-total-height: 3658px;
$circle-3-ins-image: 'sprite.png';
$circle-3-ins: (4673px, 1253px, -4673px, -1253px, 200px, 202px, 5090px, 3658px, 'sprite.png', 'circle_3_ins', );
$flower-decorate-name: 'flower_decorate';
$flower-decorate-x: 4673px;
$flower-decorate-y: 1475px;
$flower-decorate-offset-x: -4673px;
$flower-decorate-offset-y: -1475px;
$flower-decorate-width: 167px;
$flower-decorate-height: 132px;
$flower-decorate-total-width: 5090px;
$flower-decorate-total-height: 3658px;
$flower-decorate-image: 'sprite.png';
$flower-decorate: (4673px, 1475px, -4673px, -1475px, 167px, 132px, 5090px, 3658px, 'sprite.png', 'flower_decorate', );
$form-bg-photo-name: 'form_bg_photo';
$form-bg-photo-x: 4136px;
$form-bg-photo-y: 0px;
$form-bg-photo-offset-x: -4136px;
$form-bg-photo-offset-y: 0px;
$form-bg-photo-width: 954px;
$form-bg-photo-height: 636px;
$form-bg-photo-total-width: 5090px;
$form-bg-photo-total-height: 3658px;
$form-bg-photo-image: 'sprite.png';
$form-bg-photo: (4136px, 0px, -4136px, 0px, 954px, 636px, 5090px, 3658px, 'sprite.png', 'form_bg_photo', );
$header-decor1-name: 'header_decor1';
$header-decor1-x: 4673px;
$header-decor1-y: 1627px;
$header-decor1-offset-x: -4673px;
$header-decor1-offset-y: -1627px;
$header-decor1-width: 111px;
$header-decor1-height: 110px;
$header-decor1-total-width: 5090px;
$header-decor1-total-height: 3658px;
$header-decor1-image: 'sprite.png';
$header-decor1: (4673px, 1627px, -4673px, -1627px, 111px, 110px, 5090px, 3658px, 'sprite.png', 'header_decor1', );
$header-decor2-name: 'header_decor2';
$header-decor2-x: 5018px;
$header-decor2-y: 656px;
$header-decor2-offset-x: -5018px;
$header-decor2-offset-y: -656px;
$header-decor2-width: 63px;
$header-decor2-height: 60px;
$header-decor2-total-width: 5090px;
$header-decor2-total-height: 3658px;
$header-decor2-image: 'sprite.png';
$header-decor2: (5018px, 656px, -5018px, -656px, 63px, 60px, 5090px, 3658px, 'sprite.png', 'header_decor2', );
$header-decor3-name: 'header_decor3';
$header-decor3-x: 4860px;
$header-decor3-y: 1475px;
$header-decor3-offset-x: -4860px;
$header-decor3-offset-y: -1475px;
$header-decor3-width: 168px;
$header-decor3-height: 119px;
$header-decor3-total-width: 5090px;
$header-decor3-total-height: 3658px;
$header-decor3-image: 'sprite.png';
$header-decor3: (4860px, 1475px, -4860px, -1475px, 168px, 119px, 5090px, 3658px, 'sprite.png', 'header_decor3', );
$header-main-ph-name: 'header_main_ph';
$header-main-ph-x: 0px;
$header-main-ph-y: 2717px;
$header-main-ph-offset-x: 0px;
$header-main-ph-offset-y: -2717px;
$header-main-ph-width: 941px;
$header-main-ph-height: 941px;
$header-main-ph-total-width: 5090px;
$header-main-ph-total-height: 3658px;
$header-main-ph-image: 'sprite.png';
$header-main-ph: (0px, 2717px, 0px, -2717px, 941px, 941px, 5090px, 3658px, 'sprite.png', 'header_main_ph', );
$ingr-icon-name: 'ingr_icon';
$ingr-icon-x: 5018px;
$ingr-icon-y: 736px;
$ingr-icon-offset-x: -5018px;
$ingr-icon-offset-y: -736px;
$ingr-icon-width: 61px;
$ingr-icon-height: 61px;
$ingr-icon-total-width: 5090px;
$ingr-icon-total-height: 3658px;
$ingr-icon-image: 'sprite.png';
$ingr-icon: (5018px, 736px, -5018px, -736px, 61px, 61px, 5090px, 3658px, 'sprite.png', 'ingr_icon', );
$inst-icon-name: 'inst_icon';
$inst-icon-x: 5018px;
$inst-icon-y: 866px;
$inst-icon-offset-x: -5018px;
$inst-icon-offset-y: -866px;
$inst-icon-width: 28px;
$inst-icon-height: 28px;
$inst-icon-total-width: 5090px;
$inst-icon-total-height: 3658px;
$inst-icon-image: 'sprite.png';
$inst-icon: (5018px, 866px, -5018px, -866px, 28px, 28px, 5090px, 3658px, 'sprite.png', 'inst_icon', );
$inst-icon-grey-name: 'inst_icon_grey';
$inst-icon-grey-x: 5066px;
$inst-icon-grey-y: 866px;
$inst-icon-grey-offset-x: -5066px;
$inst-icon-grey-offset-y: -866px;
$inst-icon-grey-width: 23px;
$inst-icon-grey-height: 23px;
$inst-icon-grey-total-width: 5090px;
$inst-icon-grey-total-height: 3658px;
$inst-icon-grey-image: 'sprite.png';
$inst-icon-grey: (5066px, 866px, -5066px, -866px, 23px, 23px, 5090px, 3658px, 'sprite.png', 'inst_icon_grey', );
$read-arrow-name: 'read_arrow';
$read-arrow-x: 5018px;
$read-arrow-y: 953px;
$read-arrow-offset-x: -5018px;
$read-arrow-offset-y: -953px;
$read-arrow-width: 17px;
$read-arrow-height: 12px;
$read-arrow-total-width: 5090px;
$read-arrow-total-height: 3658px;
$read-arrow-image: 'sprite.png';
$read-arrow: (5018px, 953px, -5018px, -953px, 17px, 12px, 5090px, 3658px, 'sprite.png', 'read_arrow', );
$reviews-decor-left-name: 'reviews_decor_left';
$reviews-decor-left-x: 4136px;
$reviews-decor-left-y: 2515px;
$reviews-decor-left-offset-x: -4136px;
$reviews-decor-left-offset-y: -2515px;
$reviews-decor-left-width: 612px;
$reviews-decor-left-height: 148px;
$reviews-decor-left-total-width: 5090px;
$reviews-decor-left-total-height: 3658px;
$reviews-decor-left-image: 'sprite.png';
$reviews-decor-left: (4136px, 2515px, -4136px, -2515px, 612px, 148px, 5090px, 3658px, 'sprite.png', 'reviews_decor_left', );
$reviews-decor-right-name: 'reviews_decor_right';
$reviews-decor-right-x: 4136px;
$reviews-decor-right-y: 2347px;
$reviews-decor-right-offset-x: -4136px;
$reviews-decor-right-offset-y: -2347px;
$reviews-decor-right-width: 612px;
$reviews-decor-right-height: 148px;
$reviews-decor-right-total-width: 5090px;
$reviews-decor-right-total-height: 3658px;
$reviews-decor-right-image: 'sprite.png';
$reviews-decor-right: (4136px, 2347px, -4136px, -2347px, 612px, 148px, 5090px, 3658px, 'sprite.png', 'reviews_decor_right', );
$signature-name: 'signature';
$signature-x: 4934px;
$signature-y: 1627px;
$signature-offset-x: -4934px;
$signature-offset-y: -1627px;
$signature-width: 149px;
$signature-height: 73px;
$signature-total-width: 5090px;
$signature-total-height: 3658px;
$signature-image: 'sprite.png';
$signature: (4934px, 1627px, -4934px, -1627px, 149px, 73px, 5090px, 3658px, 'sprite.png', 'signature', );
$sprite-name: 'sprite';
$sprite-x: 0px;
$sprite-y: 0px;
$sprite-offset-x: 0px;
$sprite-offset-y: 0px;
$sprite-width: 4116px;
$sprite-height: 2697px;
$sprite-total-width: 5090px;
$sprite-total-height: 3658px;
$sprite-image: 'sprite.png';
$sprite: (0px, 0px, 0px, 0px, 4116px, 2697px, 5090px, 3658px, 'sprite.png', 'sprite', );
$strawberry-ill-name: 'strawberry_ill';
$strawberry-ill-x: 4975px;
$strawberry-ill-y: 1010px;
$strawberry-ill-offset-x: -4975px;
$strawberry-ill-offset-y: -1010px;
$strawberry-ill-width: 111px;
$strawberry-ill-height: 110px;
$strawberry-ill-total-width: 5090px;
$strawberry-ill-total-height: 3658px;
$strawberry-ill-image: 'sprite.png';
$strawberry-ill: (4975px, 1010px, -4975px, -1010px, 111px, 110px, 5090px, 3658px, 'sprite.png', 'strawberry_ill', );
$tw-icon-pink-name: 'tw_icon_pink';
$tw-icon-pink-x: 5069px;
$tw-icon-pink-y: 914px;
$tw-icon-pink-offset-x: -5069px;
$tw-icon-pink-offset-y: -914px;
$tw-icon-pink-width: 19px;
$tw-icon-pink-height: 16px;
$tw-icon-pink-total-width: 5090px;
$tw-icon-pink-total-height: 3658px;
$tw-icon-pink-image: 'sprite.png';
$tw-icon-pink: (5069px, 914px, -5069px, -914px, 19px, 16px, 5090px, 3658px, 'sprite.png', 'tw_icon_pink', );
$user1-ph-name: 'user1_ph';
$user1-ph-x: 4746px;
$user1-ph-y: 1010px;
$user1-ph-offset-x: -4746px;
$user1-ph-offset-y: -1010px;
$user1-ph-width: 209px;
$user1-ph-height: 209px;
$user1-ph-total-width: 5090px;
$user1-ph-total-height: 3658px;
$user1-ph-image: 'sprite.png';
$user1-ph: (4746px, 1010px, -4746px, -1010px, 209px, 209px, 5090px, 3658px, 'sprite.png', 'user1_ph', );
$user2-ph-name: 'user2_ph';
$user2-ph-x: 4136px;
$user2-ph-y: 1818px;
$user2-ph-offset-x: -4136px;
$user2-ph-offset-y: -1818px;
$user2-ph-width: 509px;
$user2-ph-height: 509px;
$user2-ph-total-width: 5090px;
$user2-ph-total-height: 3658px;
$user2-ph-image: 'sprite.png';
$user2-ph: (4136px, 1818px, -4136px, -1818px, 509px, 509px, 5090px, 3658px, 'sprite.png', 'user2_ph', );
$vk-icon-grey-name: 'vk_icon_grey';
$vk-icon-grey-x: 5018px;
$vk-icon-grey-y: 914px;
$vk-icon-grey-offset-x: -5018px;
$vk-icon-grey-offset-y: -914px;
$vk-icon-grey-width: 31px;
$vk-icon-grey-height: 19px;
$vk-icon-grey-total-width: 5090px;
$vk-icon-grey-total-height: 3658px;
$vk-icon-grey-image: 'sprite.png';
$vk-icon-grey: (5018px, 914px, -5018px, -914px, 31px, 19px, 5090px, 3658px, 'sprite.png', 'vk_icon_grey', );
$vk-icon-pink-name: 'vk_icon_pink';
$vk-icon-pink-x: 5018px;
$vk-icon-pink-y: 817px;
$vk-icon-pink-offset-x: -5018px;
$vk-icon-pink-offset-y: -817px;
$vk-icon-pink-width: 41px;
$vk-icon-pink-height: 29px;
$vk-icon-pink-total-width: 5090px;
$vk-icon-pink-total-height: 3658px;
$vk-icon-pink-image: 'sprite.png';
$vk-icon-pink: (5018px, 817px, -5018px, -817px, 41px, 29px, 5090px, 3658px, 'sprite.png', 'vk_icon_pink', );
$spritesheet-width: 5090px;
$spritesheet-height: 3658px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($adv-1-photo, $adv-2-photo, $cakes-decor-3-stage, $circle1, $circle2, $circle-2-ins, $circle-3-ins, $flower-decorate, $form-bg-photo, $header-decor1, $header-decor2, $header-decor3, $header-main-ph, $ingr-icon, $inst-icon, $inst-icon-grey, $read-arrow, $reviews-decor-left, $reviews-decor-right, $signature, $sprite, $strawberry-ill, $tw-icon-pink, $user1-ph, $user2-ph, $vk-icon-grey, $vk-icon-pink, );
$spritesheet: (5090px, 3658px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
