// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cakes-decor-3-stage-name: 'cakes-decor_3_stage';
$cakes-decor-3-stage-x: 0px;
$cakes-decor-3-stage-y: 336px;
$cakes-decor-3-stage-offset-x: 0px;
$cakes-decor-3-stage-offset-y: -336px;
$cakes-decor-3-stage-width: 252px;
$cakes-decor-3-stage-height: 334px;
$cakes-decor-3-stage-total-width: 805px;
$cakes-decor-3-stage-total-height: 763px;
$cakes-decor-3-stage-image: 'sprite.png';
$cakes-decor-3-stage: (0px, 336px, 0px, -336px, 252px, 334px, 805px, 763px, 'sprite.png', 'cakes-decor_3_stage', );
$circle1-name: 'circle1';
$circle1-x: 403px;
$circle1-y: 558px;
$circle1-offset-x: -403px;
$circle1-offset-y: -558px;
$circle1-width: 110px;
$circle1-height: 110px;
$circle1-total-width: 805px;
$circle1-total-height: 763px;
$circle1-image: 'sprite.png';
$circle1: (403px, 558px, -403px, -558px, 110px, 110px, 805px, 763px, 'sprite.png', 'circle1', );
$circle2-name: 'circle2';
$circle2-x: 632px;
$circle2-y: 194px;
$circle2-offset-x: -632px;
$circle2-offset-y: -194px;
$circle2-width: 154px;
$circle2-height: 154px;
$circle2-total-width: 805px;
$circle2-total-height: 763px;
$circle2-image: 'sprite.png';
$circle2: (632px, 194px, -632px, -194px, 154px, 154px, 805px, 763px, 'sprite.png', 'circle2', );
$circle-3-ins-name: 'circle_3_ins';
$circle-3-ins-x: 272px;
$circle-3-ins-y: 336px;
$circle-3-ins-offset-x: -272px;
$circle-3-ins-offset-y: -336px;
$circle-3-ins-width: 200px;
$circle-3-ins-height: 202px;
$circle-3-ins-total-width: 805px;
$circle-3-ins-total-height: 763px;
$circle-3-ins-image: 'sprite.png';
$circle-3-ins: (272px, 336px, -272px, -336px, 200px, 202px, 805px, 763px, 'sprite.png', 'circle_3_ins', );
$double-circle-name: 'double_circle';
$double-circle-x: 632px;
$double-circle-y: 0px;
$double-circle-offset-x: -632px;
$double-circle-offset-y: 0px;
$double-circle-width: 173px;
$double-circle-height: 174px;
$double-circle-total-width: 805px;
$double-circle-total-height: 763px;
$double-circle-image: 'sprite.png';
$double-circle: (632px, 0px, -632px, 0px, 173px, 174px, 805px, 763px, 'sprite.png', 'double_circle', );
$flower-decorate-name: 'flower_decorate';
$flower-decorate-x: 632px;
$flower-decorate-y: 368px;
$flower-decorate-offset-x: -632px;
$flower-decorate-offset-y: -368px;
$flower-decorate-width: 167px;
$flower-decorate-height: 132px;
$flower-decorate-total-width: 805px;
$flower-decorate-total-height: 763px;
$flower-decorate-image: 'sprite.png';
$flower-decorate: (632px, 368px, -632px, -368px, 167px, 132px, 805px, 763px, 'sprite.png', 'flower_decorate', );
$header-decor1-name: 'header_decor1';
$header-decor1-x: 272px;
$header-decor1-y: 558px;
$header-decor1-offset-x: -272px;
$header-decor1-offset-y: -558px;
$header-decor1-width: 111px;
$header-decor1-height: 110px;
$header-decor1-total-width: 805px;
$header-decor1-total-height: 763px;
$header-decor1-image: 'sprite.png';
$header-decor1: (272px, 558px, -272px, -558px, 111px, 110px, 805px, 763px, 'sprite.png', 'header_decor1', );
$header-decor2-name: 'header_decor2';
$header-decor2-x: 492px;
$header-decor2-y: 466px;
$header-decor2-offset-x: -492px;
$header-decor2-offset-y: -466px;
$header-decor2-width: 63px;
$header-decor2-height: 60px;
$header-decor2-total-width: 805px;
$header-decor2-total-height: 763px;
$header-decor2-image: 'sprite.png';
$header-decor2: (492px, 466px, -492px, -466px, 63px, 60px, 805px, 763px, 'sprite.png', 'header_decor2', );
$header-decor3-name: 'header_decor3';
$header-decor3-x: 632px;
$header-decor3-y: 520px;
$header-decor3-offset-x: -632px;
$header-decor3-offset-y: -520px;
$header-decor3-width: 168px;
$header-decor3-height: 119px;
$header-decor3-total-width: 805px;
$header-decor3-total-height: 763px;
$header-decor3-image: 'sprite.png';
$header-decor3: (632px, 520px, -632px, -520px, 168px, 119px, 805px, 763px, 'sprite.png', 'header_decor3', );
$ingr-icon-name: 'ingr_icon';
$ingr-icon-x: 533px;
$ingr-icon-y: 558px;
$ingr-icon-offset-x: -533px;
$ingr-icon-offset-y: -558px;
$ingr-icon-width: 61px;
$ingr-icon-height: 61px;
$ingr-icon-total-width: 805px;
$ingr-icon-total-height: 763px;
$ingr-icon-image: 'sprite.png';
$ingr-icon: (533px, 558px, -533px, -558px, 61px, 61px, 805px, 763px, 'sprite.png', 'ingr_icon', );
$inst-icon-name: 'inst_icon';
$inst-icon-x: 575px;
$inst-icon-y: 466px;
$inst-icon-offset-x: -575px;
$inst-icon-offset-y: -466px;
$inst-icon-width: 28px;
$inst-icon-height: 28px;
$inst-icon-total-width: 805px;
$inst-icon-total-height: 763px;
$inst-icon-image: 'sprite.png';
$inst-icon: (575px, 466px, -575px, -466px, 28px, 28px, 805px, 763px, 'sprite.png', 'inst_icon', );
$inst-icon-grey-name: 'inst_icon_grey';
$inst-icon-grey-x: 169px;
$inst-icon-grey-y: 729px;
$inst-icon-grey-offset-x: -169px;
$inst-icon-grey-offset-y: -729px;
$inst-icon-grey-width: 23px;
$inst-icon-grey-height: 23px;
$inst-icon-grey-total-width: 805px;
$inst-icon-grey-total-height: 763px;
$inst-icon-grey-image: 'sprite.png';
$inst-icon-grey: (169px, 729px, -169px, -729px, 23px, 23px, 805px, 763px, 'sprite.png', 'inst_icon_grey', );
$read-arrow-name: 'read_arrow';
$read-arrow-x: 575px;
$read-arrow-y: 514px;
$read-arrow-offset-x: -575px;
$read-arrow-offset-y: -514px;
$read-arrow-width: 17px;
$read-arrow-height: 12px;
$read-arrow-total-width: 805px;
$read-arrow-total-height: 763px;
$read-arrow-image: 'sprite.png';
$read-arrow: (575px, 514px, -575px, -514px, 17px, 12px, 805px, 763px, 'sprite.png', 'read_arrow', );
$reviews-decor-left-name: 'reviews_decor_left';
$reviews-decor-left-x: 0px;
$reviews-decor-left-y: 168px;
$reviews-decor-left-offset-x: 0px;
$reviews-decor-left-offset-y: -168px;
$reviews-decor-left-width: 612px;
$reviews-decor-left-height: 148px;
$reviews-decor-left-total-width: 805px;
$reviews-decor-left-total-height: 763px;
$reviews-decor-left-image: 'sprite.png';
$reviews-decor-left: (0px, 168px, 0px, -168px, 612px, 148px, 805px, 763px, 'sprite.png', 'reviews_decor_left', );
$reviews-decor-right-name: 'reviews_decor_right';
$reviews-decor-right-x: 0px;
$reviews-decor-right-y: 0px;
$reviews-decor-right-offset-x: 0px;
$reviews-decor-right-offset-y: 0px;
$reviews-decor-right-width: 612px;
$reviews-decor-right-height: 148px;
$reviews-decor-right-total-width: 805px;
$reviews-decor-right-total-height: 763px;
$reviews-decor-right-image: 'sprite.png';
$reviews-decor-right: (0px, 0px, 0px, 0px, 612px, 148px, 805px, 763px, 'sprite.png', 'reviews_decor_right', );
$signature-name: 'signature';
$signature-x: 0px;
$signature-y: 690px;
$signature-offset-x: 0px;
$signature-offset-y: -690px;
$signature-width: 149px;
$signature-height: 73px;
$signature-total-width: 805px;
$signature-total-height: 763px;
$signature-image: 'sprite.png';
$signature: (0px, 690px, 0px, -690px, 149px, 73px, 805px, 763px, 'sprite.png', 'signature', );
$strawberry-ill-name: 'strawberry_ill';
$strawberry-ill-x: 492px;
$strawberry-ill-y: 336px;
$strawberry-ill-offset-x: -492px;
$strawberry-ill-offset-y: -336px;
$strawberry-ill-width: 111px;
$strawberry-ill-height: 110px;
$strawberry-ill-total-width: 805px;
$strawberry-ill-total-height: 763px;
$strawberry-ill-image: 'sprite.png';
$strawberry-ill: (492px, 336px, -492px, -336px, 111px, 110px, 805px, 763px, 'sprite.png', 'strawberry_ill', );
$tw-icon-pink-name: 'tw_icon_pink';
$tw-icon-pink-x: 220px;
$tw-icon-pink-y: 690px;
$tw-icon-pink-offset-x: -220px;
$tw-icon-pink-offset-y: -690px;
$tw-icon-pink-width: 19px;
$tw-icon-pink-height: 16px;
$tw-icon-pink-total-width: 805px;
$tw-icon-pink-total-height: 763px;
$tw-icon-pink-image: 'sprite.png';
$tw-icon-pink: (220px, 690px, -220px, -690px, 19px, 16px, 805px, 763px, 'sprite.png', 'tw_icon_pink', );
$vk-icon-grey-name: 'vk_icon_grey';
$vk-icon-grey-x: 169px;
$vk-icon-grey-y: 690px;
$vk-icon-grey-offset-x: -169px;
$vk-icon-grey-offset-y: -690px;
$vk-icon-grey-width: 31px;
$vk-icon-grey-height: 19px;
$vk-icon-grey-total-width: 805px;
$vk-icon-grey-total-height: 763px;
$vk-icon-grey-image: 'sprite.png';
$vk-icon-grey: (169px, 690px, -169px, -690px, 31px, 19px, 805px, 763px, 'sprite.png', 'vk_icon_grey', );
$vk-icon-pink-name: 'vk_icon_pink';
$vk-icon-pink-x: 533px;
$vk-icon-pink-y: 639px;
$vk-icon-pink-offset-x: -533px;
$vk-icon-pink-offset-y: -639px;
$vk-icon-pink-width: 41px;
$vk-icon-pink-height: 29px;
$vk-icon-pink-total-width: 805px;
$vk-icon-pink-total-height: 763px;
$vk-icon-pink-image: 'sprite.png';
$vk-icon-pink: (533px, 639px, -533px, -639px, 41px, 29px, 805px, 763px, 'sprite.png', 'vk_icon_pink', );
$spritesheet-width: 805px;
$spritesheet-height: 763px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($cakes-decor-3-stage, $circle1, $circle2, $circle-3-ins, $double-circle, $flower-decorate, $header-decor1, $header-decor2, $header-decor3, $ingr-icon, $inst-icon, $inst-icon-grey, $read-arrow, $reviews-decor-left, $reviews-decor-right, $signature, $strawberry-ill, $tw-icon-pink, $vk-icon-grey, $vk-icon-pink, );
$spritesheet: (805px, 763px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
