.container{
  width: 1220px;
  margin: 0 auto;
  padding: 0 73px;
  background-color: $body-color;
  &--header-upper{
    display: flex;
    justify-content: flex-start;
  }

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
