.header{

}
.header__upper{

}
.header__bottom{
  &-content{
    @extend %fdc;
    width: 420px;
  }
  &-content-advantages{
    display: flex;
  }
  &-content-advantages-natural,
  &-content-advantages-delivery{
    display: flex;
  }
}
.header__logo-toggle{

}
.header__toggle{

}
@media (max-width: $toast-breakpoint-small) {
}
@media (max-width: $toast-breakpoint-medium) {
}
