.slide-review{
  display: flex;
  padding: 60px 300px;
  align-items: center;
  &--hidden{
    display: none;
  }
  &__image{
    margin-right: 40px;
  }
  &__name{
    color: $main_header_color;
    font-family: Circe;
    font-size: $fsz27;
    font-weight: 700;
    line-height: 24px;
  }
  &__person-info{
    color: $main_header_color;
    font-family: Circe;
    font-size: $fsz20;
    font-weight: 400;
    line-height: 24px;
  }
  &__review-text{
    padding: 15px 0;
    color: $main_header_color;
    font-family: Circe;
    font-size: $fsz18;
    font-weight: 400;
    line-height: 24.56px;
  }
}